#WebTech{
	width: 800px;
	background-color: #8888ff;
}

#WebTech .year{
	width: 400px;
	text-align: center;
}

#WebTech .technology{
	width: 400px;
	text-align: center;
}

img#comet-websockets{
	float:right;
	width: 500px;
}

body {
	font-size: 30px;

}

.reveal p.large-1{
	font-size: 1.1em;
}

#gameList figure{
	width: 410px;
	margin: 0px;
}

#gameList figure img{
	margin-top: 10px;
}

#gameList figcaption{
	font-size: 0.7em;
}

#biolab{
	float:left;
}

#canvas{
	float: left;
}

#field{
	float:left;
}

#crystal{
	float: left;
}

.reveal pre{
	font-size: 0.7em;

}